body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    color: #032770;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-color: #00695c;
    padding: 20px 0;
    margin-bottom: 55px
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #00695c, #2E2E2E, #1C2331);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background-color: #2E2E2E;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #00695c
}